.card{
  border:1px solid green;
  margin: auto;
  padding: 1.5rem;
  max-inline-size: 650px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;  
  max-height: 80vh;
  grid-area: "user nick-Name name" "tweed tweed tweed" "like like like";
  border: 1px solid var(--grey);
}
@media screen and (min-width: 768px){
  .card{
      padding: 1.5rem ;
      max-inline-size: 43.75rem ;
      border: 1px solid var(--grey);
  }

}
