.card{
  border:1px solid green;
  margin: auto;
  max-inline-size: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;  
  height: 90vh;
  grid-area: "user nick-Name name" "tweed tweed tweed" "like like like";
}
